<!DOCTYPE html>
<html>
  <head>
    <link type='text/stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  title="bootstrap-css" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to my Express World</h1>
    <%-body%>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
    <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  </body>
</html>
